@page "/createballot"
@inject ICryptographyService CryptographyService

<PageTitle>Create Ballot</PageTitle>
<h3>創建新投票</h3>

<div class="alert alert-primary" role="alert">
    A simple primary alert—check it out!
</div>

<br />
<button class="btn btn-primary" @onclick="ButtonClick">Click me</button>
<br />
<div class="input-group">
    <span class="input-group-text">Ballot Public Key</span>
    <input type="text" readonly value="@textpublic" />
    <CopyToClipboard TextToCopy="@textpublic" />
</div>
<br />
<div class="input-group">
    <span class="input-group-text">Ballot Private Key</span>
    <input type="text" readonly value="@textprivate" />
    <CopyToClipboard TextToCopy="@textprivate" />
</div>

@code {
    string textpublic = "AAAAAAAAA";
    string textprivate = "BBBBBBBBBB";

    private async Task ButtonClick(){
        var (publickey, privatekey) = await CryptographyService.GetRSAKeyPair();
        textpublic = publickey;
        textprivate = privatekey;
    }
}
