@page "/createballot"
@inject ICryptographyService CryptographyService

<PageTitle>Create Ballot</PageTitle>
<h3>創建新投票</h3>

<br />
<button class="btn btn-primary" @onclick="ButtonClick">Generate Key</button>
<br />
<hr>
<div class="input-group">
    <span class="input-group-text">Ballot Public Key</span>
    <input type="text" readonly placeholder="Ballot Public Key" value="@textpublic" />
    <CopyToClipboard TextToCopy="@textpublic" />
</div>
<br />
<div class="input-group">
    <span class="input-group-text">Ballot Private Key</span>
    <input type="text" readonly placeholder="Ballot Private Key" value="@textprivate" />
    <CopyToClipboard TextToCopy="@textprivate" />
</div>
<br />
<br />
<p>請將 Ballot Public Key 對其所有成員公開。</p>
<p><font color="#FF0000"><b>Ballot Private Key 請保密並妥善保存</b>，並於未來進行開票作業時再交付給開票者。</font></p>
@code {
    string textpublic = "";
    string textprivate = "";

    private async Task ButtonClick()
    {
        var (publickey, privatekey) = await CryptographyService.GetRSAKeyPair();
        textpublic = publickey;
        textprivate = privatekey;
    }
}
