@page "/"

<PageTitle>Index</PageTitle>

<h1>密封式記名投票</h1>
<br />
<p>本App是以Blazor WebAssembly實作之投票輔助工具，工具獨立且不紀載其實際投票內容。</p>
<p>為實現「密封過程」與「記名」之特性，本工具使用各種加密演算法之交互來實現此一目標。（目前為RSA-OAEP + AES-GCM）</p>
<br />
<p>
    本投票整體流程會採3階段進行：<b>創建 > 投票 > 開票</b>
    <br />
    而各階段都具有相對應之角色：<b>創建者 / 投票者 / 開票者</b>
</p>
<br />
<div class="accordion" id="accordionIndex">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                創建階段
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne" data-bs-parent="#accordionIndex">
            <div class="accordion-body">
                創建者透過「Generate Key」按鈕發起一個新投票，其會產生「投票公開金鑰」與「投票私密金鑰」2種金鑰。「投票公開金鑰」需對其所有成員公開，而「投票私密金鑰」需由創建者保密並妥善保存，並於未來進行開票作業時再交付給開票者做為開票使用。
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                投票階段
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo" data-bs-parent="#accordionIndex">
            <div class="accordion-body">
                投票者取得創建者所提供之「投票公開金鑰」，輸入後點選「Vote」按鈕，其下方會出現3個元素：「投票組合」、「投票加密字串」與「投票者金鑰」。「投票組合」為每一個英文字母對應到特定之數字所形成的組合，每位投票者須依照「投票組合」中其英文字母選項對應之數字進行投票，並需將「投票加密字串」於投票時一併交付；「投票者金鑰」需由投票者保密並妥善保管，並只在開票之時才提供給開票者做為開票使用。
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                開票階段
            </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree" data-bs-parent="#accordionIndex">
            <div class="accordion-body">
                開票者於點票時一共需取得以下3個元素：創建者之「投票私密金鑰」、投票者之「投票加密字串」與「投票者金鑰」，於輸入後點選「Counting」按鈕，下方會列舉該投票者之「投票組合對應」，由各個數字對應到相應的英文字母。請開票者核對數字清單上相對應之英文字母進行開票之計數。
            </div>
        </div>
    </div>
</div>